.moussa-announcement.only-deskop {
    display: block;
}
.moussa-announcement {
    text-align: center;
    background-color: #af6122;
    color: #fff;
    line-height: 40 px;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 0px;
}
.moussa-announcement {
    text-align: center;
    font-weight: 500;
    background-color: #af6122;
    color: #fff;
    line-height: 40px;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    background-image: url(https://cdn.shopify.com/s/files/1/2275/0783/files/GIFMaker.org_gYaRWq.gif?1338489&#8230;);
    background-size: cover;
    background-position-x: center;
}
p {
    margin: 0 0 15px 0;
}
